
.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .booking-table th,
  .booking-table td {
    font-size: 20px;
    padding: 10px;
    text-align: left;
  }
  
  .booking-table th {
    background-color: #f2f2f2;
  }
  
  .booking-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .booking-table tr:hover {
    background-color: #e6e6e6;
  }
  
  .booking-table th,
  .booking-table td {
    border: 1px solid #ddd;
  }
  
  .booking-table td:first-child {
    width: 80px;
  }
  
  .booking-table td:last-child {
    text-align: right;
  }
  
  .booking-table img {
    width: 100px;
    height: auto;
  }
  